nav {
    display: flex;
    background-color: rgb(226, 225, 225);
    height: 120px;
    width: 100vw;
}

.logo-container {
    height: 120px;
    width: 120px;
}

.logo-container > img {
    width: 100%;
}

.nav-items {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-items > a {
    font-size: 2rem;
    text-decoration: none;
    font-weight: bolder;
    color: black;
}